@using MVCApplication.Helpers
@using Storage;

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Record record = ViewBag.Telephones;
}

<h2>Update</h2>

@using (Html.BeginForm("UpdateSave", "Dict", FormMethod.Post))
{
    <div>
        <h4>Record</h4>
        <hr />
        <div class="form-group">
            <input name="id" type="hidden" value="@record.id" />
            @FormHelper.UpdateForm(Html, record.name, record.number)
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
