@{
    ViewData["Title"] = "FLE";
}


<p><a asp-area="" asp-controller="FLE" asp-action="FLE_TM">FLT/FLT_LV</a></p>
<p><a asp-area="" asp-controller="FLE" asp-action="FLE_UR">FLT/FIT_LU</a></p>
<p><a asp-area="" asp-controller="FLE" asp-action="FLE_UP">FLT/FIT_LZ</a></p>
<p><a asp-area="" asp-controller="BSTU" asp-action="Index">BSTU/Index</a></p>
