@{
    ViewData["Title"] = "FLT";
}


<p><a asp-area="" asp-controller="FLT" asp-action="FLT_LV">FLT/FLT_LV</a></p>
<p><a asp-area="" asp-controller="FLT" asp-action="FLT_LU">FLT/FIT_LU</a></p>
<p><a asp-area="" asp-controller="FLT" asp-action="FLT_LZ">FLT/FIT_LZ</a></p>
<p><a asp-area="" asp-controller="BSTU" asp-action="Index">BSTU/Index</a></p>
