@{
    ViewData["Title"] = "FIT";
}


<p><a asp-area="" asp-controller="FIT" asp-action="FIT_IS">FIT/FIT_IS</a></p>
<p><a asp-area="" asp-controller="FIT" asp-action="FIT_PI">FIT/FIT_PI</a></p>
<p><a asp-area="" asp-controller="FIT" asp-action="FIT_ID">FIT/FIT_ID</a></p>
<p><a asp-area="" asp-controller="BSTU" asp-action="Index">BSTU/Index</a></p>
